.footer {
  /*display: flex;*/
  text-align: center;
  height: 150px;
  padding: 40px;
}

.footer-social {
  display: block;
}

.footer-social a {
  color: #6c63ff;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}

.footer p, a {
  text-align: center;
  color: rgb(200,200,200);
  font-weight: lighter;
}

.footer .fas {
  color: red;
}
